In [8]:
!pip install sklearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sklearn in c:\users\hassa\appdata\roaming\python\python310\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\hassa\appdata\roaming\python\python310\site-packages (from sklearn) (1.1.2)
Requirement already satisfied: joblib>=1.0.0 in c:\users\hassa\appdata\roaming\python\python310\site-packages (from scikit-learn->sklearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hassa\appdata\roaming\python\python310\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\hassa\appdata\roaming\python\python310\site-packages (from scikit-learn->sklearn) (1.9.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hassa\appdata\roaming\python\python310\site-packages (from scikit-learn->sklearn) (1.23.2)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn import preprocessing

In [10]:
df = pd.read_csv('data.csv')

In [11]:
df.head()

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),cluster
0,1,Male,19,15,39,4
1,2,Male,21,15,81,3
2,3,Female,20,16,6,4
3,4,Female,23,16,77,3
4,5,Female,31,17,40,4

In [12]:
# Feature Selection
df = df.drop('CustomerID', axis=1)

In [13]:
label_encoder = preprocessing.LabelEncoder() 

df['Gender'] = label_encoder.fit_transform(df['Gender'])
df.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)  cluster
0       1   19                  15                      39        4
1       1   21                  15                      81        3
2       0   20                  16                       6        4
3       0   23                  16                      77        3
4       0   31                  17                      40        4